body{
    font-family: 'Roboto';

}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,p {
    margin: 0;
}
 
a{
    text-decoration: none;
}

address {
    font-style: normal;
}

img{
    display: block;
}

.container {
outline: solid red;
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.25;
    
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}

.header-logo-color{
    color: #000000;
}

.header-link{

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;

}

.header-link:hover{
    color: #2196F3;
}

.header-contact-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}

.header-contact-link:hover{
    color: #2196F3;
}

.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}


.hero-button{
    font-weight: 700;
font-size: 16px;
line-height: 1.88;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;

}

.advantage-title{
    font-weight: 700;
font-size: 14px;
line-height: 1.25;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.advantage-text{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: #757575;
}

.what-we-do-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.our-team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.our-team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}


.footer-link{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.25;

    
    letter-spacing: 0.03em;
    
    color: #2196F3;
    
}

.footer-link-color{
color: 
#FFFFFF;
}


.footer-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.buttons-element{
    font-weight: 500;
font-size: 16px;
line-height: 1.88;


text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

}

.poster-name{
    font-weight: 700;
font-size: 18px;
line-height: 2;

letter-spacing: 0.06em;

color: #212121;
}

.poster-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.03em;

color: #757575;

}

.footer-link-color{
    color: #000000;
}