body{
    font-family: 'Roboto';

}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,p {
    margin: 0;
}
 
a{
    text-decoration: none;
}

address {
    font-style: normal;
}

img{
    display: block;
}

.container {
outline: solid red;
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.header{
padding-top: 24px;
padding-bottom: 25px;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.25;
    
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
    margin-right: 93px;
}

.header-logo-color{
    color: #000000;
}

.header-link{

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;

}
.header-pages{
    display: flex;
    gap: 50px;
}

.header-link:hover{
    color: #2196F3;
}

.header-contact-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}

.header-contact-link:hover{
    color: #2196F3;
}
.header-contacts{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-navigation{
    display: flex;
    align-items: center;
    
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
    width: 1600px;
height: 600px;
flex-shrink: 0;
}
.hero-title{
    font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 30px;
}


.hero-button{
    font-weight: 700;
font-size: 16px;
line-height: 1.88;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
display: block;
color: #FFFFFF;
margin-left: 692px;
}
.advantage{
padding-top: 94px;
padding-bottom: 94px;

}
.advantage-list{
    font-weight: 700;
font-size: 14px;
line-height: 1.25;
letter-spacing: 0.03em;
display: flex;
gap: 30px;

color: #212121;

}


.advantage-text{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: #757575;
}
.advantage-title{
    margin-bottom: 10px;
}
.what-we-do{
    padding-bottom: 94px;
}
.what-we-do-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
margin-left: 617;
margin-right: 617;
color: #212121;
}
.what-we-do-list{

    display: flex;
    gap: 30px;
}
.our-team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-team-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
margin-bottom: 50px;
}
.our-team-list{
    display: flex;
    gap: 30px;

}
.our-team-image{
    width: 270px;
height: 260px;

}
.our-team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    color: #757575;
}





.our-team-name{

    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.footer{
    padding-bottom: 60px;
padding-top: 60px;
    background: #2F303A;
}
.footer-link-color{
color: 
#FFFFFF;
}
.footer-link{
margin-bottom: 20px;
    font-family: 'Raleway';

    font-weight: 700;
    font-size: 26px;
    line-height: 1.25;
    
    
    letter-spacing: 0.03em;
    
    color: #2196F3;

    
}
.footer-link-color{
    color: #000000;
}

.footer-address{
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-contact{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}



.buttons-element{
    font-weight: 500;
font-size: 16px;
line-height: 1.88;


text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

}

.poster-name{
    font-weight: 700;
font-size: 18px;
line-height: 2;

letter-spacing: 0.06em;

color: #212121;
}

.poster-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.03em;

color: #757575;

}



